<h1>{{title}}</h1>

<div fxLayout="column wrap">
  <div class="header-box">Day 4 exe</div>
</div>

<div  fxFill fxLayout="column wrap" fxLayout="center center">
  <mat-spinner></mat-spinner>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center none" fxLayoutGap="3vw">
  <div class="blue-box">1</div>
  <div class="grey-box">2</div>
  <div class="red-box">3</div>
  <div class="blue-box">1</div>
  <div class="grey-box">2</div>
  <div class="red-box">3</div>
  <div class="blue-box">1</div>
  <div class="grey-box">2</div>
  <div class="red-box">3</div>
  <div class="blue-box">1</div>
  <div class="grey-box">2</div>
  <div class="red-box">3</div>
  <div class="blue-box">1</div>
  <div class="grey-box">2</div>
  <div class="red-box">3</div>
  <div class="blue-box">1</div>
  <div class="grey-box">2</div>
  <div class="red-box">3</div>
  <div class="blue-box">1</div>
  <div class="grey-box">2</div>
  <div class="red-box">3</div>
  <div class="blue-box">1</div>
  <div class="grey-box">2</div>
  <div class="red-box">3</div>
  <div class="blue-box">1</div>
  <div class="grey-box">2</div>
  <div class="red-box">3</div>
  <div class="blue-box">1</div>
  <div class="grey-box">2</div>
  <div class="red-box">3</div>
  <div class="blue-box">1</div>
  <div class="grey-box">2</div>
  <div class="red-box">3</div>
  <div class="blue-box">1</div>
  <div class="grey-box">2</div>
  <div class="red-box">3</div>
  <div class="blue-box">1</div>
  <div class="grey-box">2</div>
  <div class="red-box">3</div>
  <div class="blue-box">1</div>
  <div class="grey-box">2</div>
  <div class="red-box">3</div>
  <div class="blue-box">1</div>
  <div class="grey-box">2</div>
  <div class="red-box">3</div>
  <div class="blue-box">1</div>
  <div class="grey-box">2</div>
  <div class="red-box">3</div>
  <div class="blue-box">1</div>
  <div class="grey-box">2</div>
  <div class="red-box">3</div>
  <div class="blue-box">1</div>
  <div class="grey-box">2</div>
  <div class="red-box">3</div>
  
</div>
